body {
    background-color: #adc78f;
    padding: 20px;
    margin: 0;
  }
  h1, h2, h3, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 30px;
  }
  .content h2 {
    padding: 1;
    margin: 1;
  }
  .content li,ol {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }
  img {
    height: 100px;
    width: fit-content;
  }
  p {
    border-style: solid;
    padding-left: 200px;
    text-align: left;
    font-size: 30px;
    height: 200px;
  }
  div.Home img {
    height: 200px;
    width:fit-content;
    padding-right: 100px;
  }
  div.TLOU img {
    margin-left: -200px;
    margin-bottom: -140px;
    height: 150px;
    width: 200px;
  }
  div.Room img {
    margin-left: -200px;
    margin-bottom: -140px;
    height: 150px;
    width: 200px;
  }
  div.BTD6 img {
    margin-left: -200px;
    margin-bottom: -140px;
    height: 150px;
    width: 200px;
  }